@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
.header::before, .section-cta::before, .section-price::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

/* Reset and base styles  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

input, textarea, button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
}

.header {
  position: relative;
  z-index: 99;
  background-image: url("./../img/bg/header.jpg");
  background-size: cover;
  background-position: center;
  /* Desk */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1600px) {
  .header {
    background-image: url("./../img/bg/header-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .header {
    background-image: url("./../img/bg/header-900.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .header {
    background-image: url("./../img/bg/header-600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .header {
    background-image: url("./../img/bg/header-320.jpg");
    background-size: cover;
    background-position: center;
  }
}

.header__content {
  position: relative;
  padding-top: 60px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__content {
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .header__content {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .header__content {
    padding-bottom: 40px;
  }
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__btns {
    margin-bottom: 100px;
    width: 100%;
  }
}
@media (max-width: 899px) {
  .header__btns {
    margin-bottom: 30px;
  }
}

.header__btns-search {
  margin-left: auto;
}

.header__main {
  margin-bottom: 148px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .header__main {
    margin-bottom: 129px;
  }
}
@media (max-width: 899px) {
  .header__main {
    margin-bottom: 80px;
  }
}
@media (max-width: 599px) {
  .header__main {
    margin-bottom: 50px;
  }
}

.header__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .header__title {
    margin-bottom: 35px;
    font-size: 84px;
  }
}
@media (max-width: 899px) {
  .header__title {
    margin-bottom: 30px;
    font-size: 70px;
  }
}

.header__descr {
  margin-bottom: 70px;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: auto;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.header__descr p + p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .header__descr {
    margin-bottom: 50px;
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .header__descr {
    max-width: 430px;
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .header__descr {
    max-width: 390px;
    margin-bottom: 30px;
  }
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .header__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 370px;
  }
}
@media (max-width: 599px) {
  .header__form {
    width: 290px;
  }
}

.header__form .input {
  margin-right: 20px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form .input {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.header__form-input {
  width: 240px;
  /* Mobile */
}
@media (max-width: 899px) {
  .header__form-input {
    width: 100%;
  }
}

.section-functional {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-functional {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-functional__header {
  margin-bottom: 70px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .section-functional__header {
    margin-bottom: 40px;
  }
}

.section-functional__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}

.section-functional__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .section-functional__row {
    margin-top: -30px;
  }
}
@media (max-width: 599px) {
  .section-functional__row {
    margin-top: -40px;
  }
}

.section-functional__row > * {
  margin-left: 15px;
  margin-right: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 270px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-functional__row > * {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .section-functional__row > * {
    width: 270px;
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .section-functional__row > * {
    width: 290px;
    margin-top: 40px;
  }
}

.section-cta {
  position: relative;
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("./../img/bg/cta-bg.jpg");
  background-size: cover;
  background-position: center;
  /* Desk */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1600px) {
  .section-cta {
    background-image: url("./../img/bg/cta-bg-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .section-cta {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("./../img/bg/cta-bg-900.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 899px) {
  .section-cta {
    background-image: url("./../img/bg/cta-bg-600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 599px) {
  .section-cta {
    background-image: url("./../img/bg/cta-bg-320.jpg");
    background-size: cover;
    background-position: center;
  }
}

.section-cta__content {
  position: relative;
  z-index: 9;
  text-align: center;
}
.section-cta__content a {
  display: inline-block;
  text-decoration: none;
}

.section-cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  color: #FFFFFF;
  /* Mobile */
  /* Mobile XS */
}
.section-cta__title span {
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 899px) {
  .section-cta__title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .section-cta__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  border: 1px solid #E1E1E1;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-tasks {
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .section-tasks {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-tasks__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
  padding-right: 114px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__row {
    padding-left: 75px;
    padding-right: 0;
  }
}
@media (max-width: 899px) {
  .section-tasks__row {
    padding-left: 0;
    padding-top: 5px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 599px) {
  .section-tasks__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section-tasks__content {
  width: 530px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__content {
    width: 495px;
  }
}
@media (max-width: 899px) {
  .section-tasks__content {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__content {
    width: 290px;
    text-align: center;
  }
}

.section-tasks__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__title {
    margin-bottom: 10px;
  }
}

.section-tasks__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-tasks__header {
    margin-bottom: 20px;
  }
}

.section-tasks__text {
  width: 400px;
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.section-tasks__text p + p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .section-tasks__text {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-tasks__text {
    width: 270px;
    line-height: 1.71;
  }
}
@media (max-width: 599px) {
  .section-tasks__text {
    width: 290px;
  }
}

.section-tasks__img {
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-tasks__img {
    width: 265px;
  }
}
@media (max-width: 899px) {
  .section-tasks__img {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__img {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .section-tasks__img img {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
  }
}

.section-focus {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: hidden;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-focus {
    padding-bottom: 0;
  }
}
@media (max-width: 599px) {
  .section-focus {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-focus__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .section-focus__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .section-focus__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-focus__row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-focus__img {
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__img {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__img {
    width: 170px;
  }
  .section-focus__img img {
    width: 415px;
    max-width: unset;
  }
}
@media (max-width: 599px) {
  .section-focus__img {
    width: 100%;
  }
  .section-focus__img img {
    max-width: 100%;
  }
}

.section-focus__content {
  padding-top: 28px;
  width: 470px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__content {
    width: 420px;
    padding-top: 20px;
  }
}
@media (max-width: 899px) {
  .section-focus__content {
    width: 370px;
    padding-top: 0;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    text-align: center;
    width: 100%;
  }
}

.section-focus__header {
  margin-bottom: 30px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}

.section-focus__title {
  margin-bottom: 30px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-focus__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-focus__title {
    margin-bottom: 10px;
  }
}

.section-focus__text {
  width: 400px;
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.section-focus__text p + p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .section-focus__text {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__text {
    width: 370px;
    line-height: 1.71;
  }
}
@media (max-width: 599px) {
  .section-focus__text {
    width: 100%;
  }
}

.section-price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("./../img/bg/prices.jpg");
  background-size: cover;
  background-position: center;
  /* Desk */
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1600px) {
  .section-price {
    background-image: url("./../img/bg/prices-1600.jpg");
    background-size: cover;
    background-position: center;
  }
}
@media (max-width: 1199px) {
  .section-price {
    background-image: url("./../img/bg/prices-900.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price {
    background-image: url("./../img/bg/prices-600.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-price {
    background-image: url("./../img/bg/prices-320.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 40px;
  }
}

.section-price__content {
  position: relative;
  z-index: 9;
}
.section-price__content .title, .section-price__content .subtitle {
  color: #fff;
}

.section-price__header {
  margin-bottom: 80px;
  text-align: center;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .section-price__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price__header {
    margin-bottom: 40px;
  }
}

.section-price__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-price__title {
    margin-bottom: 10px;
  }
}

.section-price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Mobile */
}
@media (max-width: 899px) {
  .section-price__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-price__row > * {
  width: 300px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-price__row > * {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .section-price__row > * {
    width: 300px;
  }
}
@media (max-width: 599px) {
  .section-price__row > * {
    width: 290px;
  }
}

.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients__header {
    margin-bottom: 30px;
  }
}

.section-clients__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}

.section-clients__slider {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .section-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-clients__slider {
    width: 290px;
  }
}

.slider-item__text p + p {
  margin-bottom: 15px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #1A1A1A;
  color: #FFFFFF;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__row {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .footer__row {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    margin-bottom: 40px;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .footer__nav {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__nav {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__nav-item {
  margin-right: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  /* Mobile XS */
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-item:hover {
  color: #15D784;
}
@media (max-width: 599px) {
  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__nav-item:last-child {
    margin-bottom: 0;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__socials a {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.1);
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  /* Mobile XS */
}
.footer__socials a:hover {
  background-color: #00C470;
}
.footer__socials a:last-child {
  margin-right: 0;
}
@media (max-width: 599px) {
  .footer__socials a {
    margin-right: 20px;
  }
  .footer__socials a:last-child {
    margin-right: 0;
  }
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.nav {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: opacity 0.2s ease-in, top 0s linear 0.2s;
  transition: opacity 0.2s ease-in, top 0s linear 0.2s;
}

.nav.nav--active {
  top: 0;
  opacity: 1;
  -webkit-transition: top 0s linear, opacity .2s ease-in;
  transition: top 0s linear, opacity .2s ease-in;
}

.nav__top {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .nav__top {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.nav__list {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .nav__list {
    font-size: 18px;
  }
}
.nav__list li {
  margin-bottom: 40px;
}
@media (max-width: 599px) {
  .nav__list li {
    margin-bottom: 30px;
  }
}
.nav__list a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.nav__list a:hover {
  color: #15D784;
}

.nav-icon {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.nav-icon:hover {
  background-color: #00C470;
}
.nav-icon:hover .nav-icon__middle,
.nav-icon:hover .nav-icon__middle::before,
.nav-icon:hover .nav-icon__middle::after {
  background-color: #FFF;
}
.nav-icon:focus {
  outline: none;
}

.nav-icon__middle {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 3px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  background-color: #000;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.nav-icon__middle::before {
  top: -7px;
}
.nav-icon__middle::after {
  top: 7px;
}

/* Active state */
.nav-icon.nav-icon--active {
  position: fixed;
  z-index: 9;
}

.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before, .nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.button-round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.button-round:hover {
  background-color: #00C470;
}

.input {
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: none;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .input {
    padding-left: 46px;
    padding-right: 46px;
  }
}
@media (max-width: 599px) {
  .input {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.input::-webkit-input-placeholder {
  color: #fff;
}

.input:-ms-input-placeholder {
  color: #fff;
}

.input::-ms-input-placeholder {
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline: none;
  background: black;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /* Mobile */
}
@media (max-width: 899px) {
  .title {
    font-size: 14px;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .subtitle {
    font-size: 26px;
  }
}

.card {
  display: block;
}

.card__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__img {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #2E2E2E;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .card__title {
    margin-bottom: 10px;
    line-height: 1.5;
    min-height: 48px;
  }
}
@media (max-width: 899px) {
  .card__title {
    min-height: unset;
  }
}

.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: #808080;
  /* Tablet */
}
@media (max-width: 1199px) {
  .card__text {
    line-height: 1.57;
  }
}

.package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 8px;
  text-align: center;
  line-height: 1;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  /* Mobile */
}
.package:last-child {
  margin-right: 0;
}
.package:hover {
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 10px;
}
.package:hover .package__period {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 899px) {
  .package {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .package:last-child {
    margin-bottom: 0;
  }
}

.package--special {
  background: rgba(48, 79, 254, 0.95);
}
.package--special .package__title {
  color: #fff;
}
.package--special .package__period {
  background: rgba(0, 0, 0, 0.1);
}
.package--special:hover {
  background: rgba(27, 61, 255, 0.95);
}

.package__header {
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #B2B2B2;
  letter-spacing: 4px;
}

.package__price {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 80px;
}

.package__period {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  height: 24px;
  line-height: 24px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 4px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
}

.package__list {
  margin-bottom: 58px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
.package__list li {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
}
.package__list li:last-child {
  margin-bottom: 0;
}

.package-button {
  margin-top: auto;
}

.button {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  background: #00C470;
  border: none;
  border-radius: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.button:hover {
  background-color: #00af63;
}
.button:focus {
  outline: none;
  background: #009e5a;
}
.button:active {
  position: relative;
  top: 2px;
}

.button-outline {
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.button-outline:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
}
.button-outline:focus {
  outline: none;
  background: black;
}
.button-outline:active {
  position: relative;
  top: 2px;
}

.button-solid {
  padding-left: 40px;
  padding-right: 40px;
  height: 60px;
  background: #FFFFFF;
  border: none;
  border-radius: 30px;
  font-weight: 800;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2E2E2E;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.button-solid:hover {
  color: #FFFFFF;
  background-color: #000;
}
.button-solid:focus {
  outline: none;
  background-color: #2f2f2f;
  color: #fff;
}
.button-solid:active {
  position: relative;
  top: 2px;
}

.slider {
  position: relative;
}

.slider__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: none;
  background: #F5F5F5;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.slider__arrow--left {
  position: absolute;
  left: -46px;
  top: 53px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
@media (max-width: 949px) {
  .slider__arrow--left {
    left: -30px;
  }
}
.slider__arrow--right {
  position: absolute;
  right: -46px;
  top: 53px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
@media (max-width: 949px) {
  .slider__arrow--right {
    right: -30px;
  }
}
.slider__arrow:hover {
  background-color: #00C470;
}
.slider__arrow:hover svg path {
  stroke: #fff;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.slider-item__text p + p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    font-size: 14px;
  }
}

.slider-item__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  /* Mobile */
}
@media (max-width: 899px) {
  .slider-item__author {
    margin-bottom: 30px;
  }
}

.slider-item__avatar {
  margin-right: 20px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__avatar {
    margin-right: 10px;
    height: 60px;
    width: 60px;
  }
}

.slider-item__author-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__author-descr {
    font-size: 14px;
  }
}

.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00C470;
}

.slider-item__author-name {
  color: #808080;
}

.slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__pagination_item {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  background-color: #E1E1E1;
  border: none;
}
.slider__pagination_item:last-child {
  margin-right: 0;
}
.slider__pagination_item:hover {
  background-color: #00C470;
}

.slider__pagination_item--active {
  background: #00C470;
}

/*# sourceMappingURL=main.css.map */