.package {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 8px;

    text-align: center;
    line-height: 1;

    transition: background-color 0.2s ease-in ;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.9);
        bottom: 10px;

        .package__period {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    /* Mobile */
    @media (max-width: 899px) {
        margin-right: 0;
        margin-bottom: 30px; 

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.package--special {
    background: rgba(48, 79, 254, 0.95);

    & .package__title {
        color: #fff;
    }

    & .package__period {
        background: rgba(0, 0, 0, 0.1);
    }

    &:hover {
        background: rgba(27, 61, 255, 0.95);
    }
}

.package__header {
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #B2B2B2;
    letter-spacing: 4px;
}

.package__price {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 80px; 
}

.package__period {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    height: 24px;

    line-height: 24px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 4px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}

.package__list {
    margin-bottom: 58px;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;

    li {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 16px;
    }

    li:last-child {
        margin-bottom: 0;
    }
}

.package-button {
    margin-top: auto;
}
